/*GENERAL*/
* {
    font-family: Arial, tahoma;
}

a {
    color: #1f96c1;
}

#container {
    background: white;
    padding: 25px 30px;
}

.bold { font-weight: bold; }

.title-section {
    color: #1f96c1;
}

/*************************************************************************************/

#header {
    color: #1f96c1;
    margin-bottom: 0;
    padding-bottom: 0;
}

#cabecera .contenedor {
    background: linear-gradient(0deg,#1f96c1 67%, #fff 33%);
}

#cabecera h3 {
    margin-top: 30px;
    color: white;
    font-family: "unit_l";
}

#cabecera .lb-title {
    font-family: "hn_ul";
    font-size: 1.2em;
    font-weight: bolder;
    letter-spacing: 1.5px;
}


.ui-widget-content {
    border: none;
}

.ui-dialog-titlebar {
    background: #ededed;
    border: none;
}
/***********************************************************************************************************/
/*FOOTER*/
#footer .franja {
    background: #1f96c1;
    height: 20px;
}

#text-faldon {
    color: black;
    font-size: 0.9em;
}

.checkbox input[type="checkbox"] {
    margin-top: 1px;
}

.texto-activacion {
    font-size: 16px;
}

.color-verde {
    color: #41A629;
}

#contenido-activacion {
    margin: 20px 0;
}

.help-block {
    color: #a94442;
}

/**
*/
.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: default;
    box-shadow: none;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
    cursor: default;
}

.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
    cursor: default;
}

.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
    cursor: default;
}

.text-center {
    text-align: center;
}
i.fas {
    font-size: 18px;
}
.color-verde {
    color: #41a629;
}
/**********CABECERA DEL LAYOUT*****************/
@media all and (max-width: 499px) {
    #header {
        text-align: center;
    }

    #cabecera h3 {
        padding-top: 0;
    }

    h3 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 320px) {
    h3 {
        font-size: 1.7em;
    }
}

@media all and (min-width: 500px) and (max-width: 767px) {
    #header {
        text-align: center;
    }
}

@media all and (max-width: 767px) {
    .blockUI {
        left: 0 !important;
        width: 100% !important;
    }

    #cabecera .contenedor {
        background: #1f96c1;
        height: 90px;
    }
}

@media all and (min-width: 768px) {
    #ayuda-logo {
        margin-top: 17px;
        margin-right: 0;
    }

    #cabecera .contenedor {
        min-height: 120px;
        margin-bottom: 7px;
    }

    #cabecera h3 {
        padding-top: 30px;
    }

    #cabecera .col-sm-9 {
        padding: 0 0 0 0;
    }
}

